# Configure the VMware vSphere provider for vCenter (VCSA) or ESXi
terraform {
  required_version = ">= 1.2.9"
  required_providers {
    vsphere = {
      source  = "{{ .ParamExpand "vsphere/provider-source" }}"
      version = "{{ .Param "vsphere/provider-version" }}"
    }
  }
}

provider "vsphere" {
  user                 = "{{ .Param "vsphere/user" }}"
  password             = "{{ .Param "vsphere/password" }}"
  vsphere_server       = "{{ .ParamExpand "vsphere/server" }}"
  allow_unverified_ssl = {{ .Param "vsphere/allow-unverified-ssl" }}
}
