# DigitalRebar Provision Centos-8 (and related distros) kickstart

### DEPRECATED - In DRP Community Content v4.7.2 forward use the family
###              named kickstart of 'rhelish-8.ks.tmpl'.  This template
###              will be removed in future versions of DRP content.

{{range .InstallRepos}}
{{ .Install }}
{{end}}
# key --skip
# Disable geolocation for language and timezone
# Currently broken by https://bugzilla.redhat.com/show_bug.cgi?id=1111717
# geoloc 0
timezone Etc/UTC --isUtc
lang en_US
keyboard us
# rebar
rootpw --iscrypted {{if .ParamExists "provisioner-default-password-hash"}}{{.Param "provisioner-default-password-hash"}}{{else}}$6$drprocksdrprocks$upAIK9ynEEdFmaxJ5j0QRvwmIu2ruJa1A1XB7GZjrnYYXXyNr4qF9FttxMda2j.cmh.TSiLgn4B/7z0iSHkDC1{{end}}
firewall --disabled
selinux --disabled

{{if .ParamExists "part-scheme" -}}
{{$templateName := (printf "part-scheme-%s.tmpl" (.Param "part-scheme")) -}}
{{.CallTemplate $templateName .}}
{{else -}}
{{template "part-scheme-default.tmpl" .}}
{{end -}}

text
skipx
reboot {{if .Param "kexec-ok" }}--kexec{{end}}

%packages
{{template "kickstart-package-selections.tmpl" .}}
%end

%pre
{{ range $intf := .Param "kickstart/extra-ifs" }}
nmcli con add type ethernet con-name {{ $intf }} ifname {{ $intf }}
{{end}}
%end

%post

exec > /root/post-install.log 2>&1
set -x
export PS4='${BASH_SOURCE}@${LINENO}(${FUNCNAME[0]}): '

{{template "reset-workflow.tmpl" .}}
{{template "runner.tmpl" .}}

sync
%end
