# Adds additional Classify templates for extending classifier matching
#############################################################################
# Uses the "classify/custom-functions" Param to specify various additional
# custom templates to include in to the Classifier.  See Param documentation
# for data structure and usage.
#
# This is intended to inject BASH "function NAME { ... }" stanzas in to the
# classifier to provide custom function blocks to extend the tests you can
# apply to the classifier

{{ $functParameter := "classify/custom-functions" }}
{{ if ne 1 (.Param "classify/version" | int) }}
  {{ if .ParamExists "classify/function-parameter" }}
    {{ $functParameter = .Param "classify/function-parameter" }}
  {{ else }}
    {{ $functParameter = "unknown-function-parameter" }}
  {{ end }}
{{ end }}

{{ if .ParamExists $functParameter }}
{{ $dot := . -}}
{{range $index, $template := .Param $functParameter -}}

#############################################################################
# injecting custom template: {{ squote $template }}
{{ $dot.CallTemplate $template $dot }}
# end injection of template: {{ squote $template }}

{{ end -}}
{{ end }}
### end custom template injection
#############################################################################
